# Requirement

# CUDA 11.8 : --extra-index-url https://download.pytorch.org/whl/cu118
# CUDA 12.1 : --extra-index-url https://download.pytorch.org/whl/cu121

numpy
seaborn
matplotlib
torch
--extra-index-url https://download.pytorch.org/whl/cu121
torchvision
--extra-index-url https://download.pytorch.org/whl/cu121
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu121
transformers
scikit-learn
tqdm
timm
natsort
wandb
torchviz

# torchviz와 graphviz 설치 필요
# https://graphviz.org/download/
# 환경변수 추가 후 재부팅